@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

body {
  padding-bottom: 100px;
}

#root {
  min-height: 100vh;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover h4 b {
  color: #f714f7;
}